<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
<header>
  <div class="container">
    <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
    <nav class="nav-center">
      <a href="{{ '/projects/' | relative_url }}">Projects</a>
      <a href="{{ '/academics/' | relative_url }}">Academics</a>
      <a href="{{ '/experience/' | relative_url }}">Experience</a>
      {% if site.show_downloads %}
        <a class="button" href="{{ '/pdf/Kyle_Shiroma_Resume_2025.pdf' | relative_url }}" target="_blank">Resume ↗</a>
      {% endif %}
    </nav>
  </div>
</header>


  <main class="container">
    {{ content }}
  </main>

  <footer>
    <div class="container">
      <p>© {{ site.time | date: '%Y' }} Kyle Shiroma. All rights reserved.</p>
    </div>
  </footer>
</body>
</html>
